*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #0a2a43;
    min-height: 1500px;
}



section{
    position: relative;
    width: 100%;
    height:100vh ;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top , #0a2a43 , transparent);
    z-index: 10000;
}
section:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2a43 ;
    z-index: 10000;
    mix-blend-mode: color;
}


section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text{
    position: relative;
    color: #fff;
    font-size:60px;
    z-index: 1;
    border-bottom:solid 5px snow ;

}

#content{
  margin-left: 10%;
    color: #fff;
    font-size:20px;
}

h1{
    color: #9453a6;
  border-left:solid 5px #fff ; 
  margin-left: 10%; 
  margin-bottom: 6%; 
}

#layota{
    border: 1px solid #9453a6;
    border-radius: 5px;
     box-shadow: 5px 5px 5px 5px #9453a6;
     margin-bottom: 120px;
}