*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title{
    padding: 16px 0;
    border-left: 5px solid #9453A6 ;
 
}

#container{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.half{
    margin: 200px;
}

#score{
    width: 200px;
    padding: 8px;
    border: 5px solid #9453A6;
    border-radius: 5px;
    position:fixed;
         bottom: 300px;
}
.groups{
    border: 5px solid #9453A6;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    width: 40vh;
}

button{
  margin: 5px;
    border:  solid #8cbf3f;
    border-radius: 5px;
}

#quiz{
    padding: 5px 10px;
    margin: 0px 40% 200px 40%;
    border: 2px dotted #9453A6;
    border-radius: 5px;
}



@media screen and (max-width:1100px) {
    #title{
        margin-left: 13%;
    }

    #container{
     display: flex;
     flex-wrap: wrap;
     display: inline-block;
     align-items: center;
     justify-content: center;
    }

    #score{
         position:fixed;
         bottom: 300px;
    }
}